**/node_modules/
**/.pnp/
**/.pnp.js
**/.npm/
**/.yarn/

**/.env*
!**/.env.example
**/.venv/
**/*.pem
**/*.key
**/*.cert
**/*.config.json
**/*.tokens.json

**/coverage/
**/*.log*
**/*.debug*
**/logs/

**/.idea/
**/.github/

**/*.iml
**/*.ipr
**/*.iws

**/*.d.ts

**/dist/

**/.stylelintcache
**/.eslintcache
**/.vercel

**/*auth*.json
**/*credential*.json

**/*preview*/
!**/upgrade-preview/
**/*thumbnail*/
**/preview.*
**/thumbnail.*

**/*.tmp
**/*.temp
**/*.swp
**/*.swo
**/*~
**/.DS_Store
**/Thumbs.db

**/.turbo/
**/.swc/
**/.next/
**/.rollup.cache/
**/out/
**/*.tsbuildinfo
**/.parcel-cache/
**/.cache/
**/*cache*.json

**/*.{bak,backup,old,save,orig,previous}
**/backup*/
**/archive*/

**/.devcontainer/
**/requirements*.txt

**/.specstory/
**/.history/

/*.bat

**/AGENTS.md
**/.agent/

**/.archived/